// COLORS
$color-primary: #0276fd;
$color-primary-grey: #293c75;
$color-primary-light: #50b9ff;
$color-primary-lightest: #edfcff;
$color-primary-dark: #052275;
$color-primary-darkest: #041b5c;

$color-danger: #cc0000;
$color-danger-light: #ee2828;

$color-metalic: #43494c;

$color-grey: #7c7c7c;
$color-grey-dark: #3d3d3d;
$color-grey-darkest: #222;
$color-grey-light: #afafaf;
$color-grey-lightest: #f4f4f4;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
