.modal {
  position: relative;

  &__dark-background {
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.3s linear;
    z-index: 9900;

    &--active {
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__container {
    max-width: 80%;
    width: 60rem;
    height: 50rem;
    visibility: hidden;
    opacity: 0;
    padding: 0 5rem;
    background-color: $color-white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease-out;
    z-index: 9999;

    @include respond(tab-port) {
      width: 50rem;
      height: 50rem;
    }

    @include respond(phone) {
      width: 90%;
      height: 90%;
      flex-direction: column;
      padding: 0 1rem;
    }

    &--active {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);

      @include respond(phone) {
        width: 90%;
      }
    }
  }

  &__exit {
    color: $color-grey-dark;
    font-size: 2.5rem;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    cursor: pointer;
  }

  &__img-container {
    width: 33.3333%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      width: 25%;
    }

    @include respond(phone) {
      height: 25%;
    }
  }

  &__img {
    width: 100%;
    transition: all 0.6s ease-out;

    @include respond(phone) {
      width: auto;
      height: 15rem;
    }
  }

  &__name {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;

    @include respond(tab-port) {
      font-size: 2rem;
      margin-bottom: 0;
    }

    @include respond(phone) {
      font-size: 2.5rem;
      text-align: center;
    }
  }

  &__info {
    width: 66.6667%;
    padding-left: 5rem;

    @include respond(phone) {
      width: 90%;
      padding-left: 0;
    }

    &-row {
      margin: 0.5rem 0;
    }

    &-name {
      display: inline-block;
      font-size: 1.2rem;
      color: $color-grey;
      width: 5rem;

      @include respond(phone) {
        width: auto;
        margin: 0 0.2rem;
        font-size: 1.5rem;
      }
    }

    &-value {
      font-size: 2rem;
      font-weight: 600;

      @include respond(tab-port) {
        font-size: 1.7rem;
      }

      @include respond(phone) {
        margin: 0 0.5rem;
        font-size: 2rem;
      }
    }

    &-description {
      font-size: 1.2rem;
      color: $color-grey;
      line-height: 2;

      @include respond(tab-port) {
        font-size: 1rem;
      }

      @include respond(phone) {
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.5;
      }
    }
  }

  &__row-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(phone) {
      width: 90%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__quantity {
    display: block;
    width: 5rem;
    margin: 1rem 0;
    padding: 0.7rem;
    font-family: inherit;
    font-size: 1.2rem;
    border: 1px solid $color-grey-light;
    border-radius: 5px;
  }

  &__button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
      justify-content: space-around;
    }

    @include respond(phone) {
      align-items: center;
    }
  }
}
