.main {
  width: 100%;
  min-height: 100vh;
  background-color: $color-grey-lightest;
  padding: 3rem 0;
  z-index: 8000;

  @include respond(tab-port) {
    padding-top: 4rem;
  }

  &__container {
    max-width: 100rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__heading {
    font-size: 3rem;
    margin-bottom: 1rem;

    &--checkout {
      @include respond(tab-port) {
        text-align: center;
      }
    }
  }

  &__sort {
    position: absolute;
    top: 0.3rem;
    right: 0;
    width: 20rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1.2rem;
    border: 1px solid $color-grey-light;
    border-radius: 5px;

    @include respond(phone) {
      position: static;
      top: auto;
      right: auto;
    }
  }

  &__promotion {
    display: flex;
    flex-direction: row;
  }

  &__input {
    width: 18rem;
    margin: 2rem 0;
    padding: 1.2rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: 1px solid $color-grey-light;

    @include respond(phone) {
      padding: 1.3rem;
    }
  }

  &__total {
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: 600;
  }
}
